/* STYLING */

h1 {
	font-size: 2em;
	font-family: 'Quattrocento', sans-serif;
	font-weight: 400;
	color: white; 
}

h2 {
	font-size: 2em;
	font-family: 'Quattrocento', sans-serif;
	font-weight: 400;
	color: white;
}

p, ul, li {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 1em;
}

strong {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 1em;
	color: #f2f2f2;
}

li {
	margin-bottom: 12px;
	margin-top: 12px;
}

body {
  	background-color: #E0DEDE;
	margin: 0px;
	padding: 0px;
	color: #333333;
}

.howto {
	height: 5000px;
	margin: 0px;
	width: 100%;
}

/* TEXT LINKS */

a {
	text-decoration: none;
  	color: #333333; 
	background-color: none;
}

a:hover {
	color: white;
	background-color: #FBB03B;
}

/* -------------------------------------------------------------------------- */


/* GRID SKELETON */

.grid-wrap {    
    overflow: hidden;
    clear: both;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}
   
.grid-col {
	display: inline-block;
    float: left;
	padding: 0% 0% 0% 0%;
	margin: 0% 0% 0% 0%;
    width: 100%;
    height: 160px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* COLUMN WIDTHS */

.col100 {width: 100%; }
.col75 {width: 75%; }
.col66 {width: 66.666%; }
.col50 {width: 50%; }
.col33 {width: 33.333%; }
.col25 {width: 25%; }

/* -------------------------------------------------------------------------- */

/* TEXT CENTERING */

.grid-box.center { /* this is what makes the text centered H & V */
	position: relative;
	border: 0px solid black;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 1.5em; 
    width: 10%; /* question for L, why does this need 10%? */
}

a.grid-box,
span.grid-box {
	border: 0px solid black;
	display: block;
	background: none;
	padding: 20px;
	height: 160px; /* sets the height of the cells in the grid */
}

.grid-box img {
	display: table-cell;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	width: auto;
}

.grid-box .grid-image,
.grid-box .grid-text, {
	display: block;
}

/* GRID HOVER */

a.grid-box:hover {
	background: #FBB03B; /* color of the background on hover */
	cursor: pointer;
	-webkit-animation: happy 3s ease-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes happy {
    0% { background: #FBB03B; }
    50% { background: #E0DEDE; }
    100% { background: #FBB03B; }
}

/* HEADLINE HOVER */

/*a.grid-special { color: #FBB03B; }*/

/*a.grid-special:hover {
	background: #E0DEDE;
	cursor: pointer;
	-webkit-animation: happy-special 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}*/

/*@-webkit-keyframes happy-special {
    0% { color: #FBB03B; }
    50% { color: #E0DEDE; }
    100% { color: #FBB03B; }
}*/

/* FIXED & ABSOLUTE */

.grid-fixed {
	position: fixed;
	top: 0%;
	left: 0%;
}

.grid-absolute {
	position: absolute;
	top: 25%;
	left: 0%;
}

/* -------------------------------------------------------------------------- */

#introhowto,
#brainhowto, 
#testhowto, 
#finalhowto {
	width: 30%;
	text-align: left;
	padding-left: 35%;
	padding-top: 10px;
	padding-right: 35%;
	padding-bottom: 10px;
}

#introhowto, 
#testhowto {
	background-color: dimgray;
}

#brainhowto, 
#finalhowto {
	background-color: darkgrey;
}

/* collapsible menus */
.row { vertical-align: top; height:auto !important; padding-top: 0px;}
.list {display:none; }
.show {display: none; }
.hide:target + .show {display: inline; }
.hide:target {display: none; }
.hide:target ~ .list {display:inline; }
@media print { .hide, .show { display: none; } }
