#HTML_1 {
    box-sizing: border-box;
    height: 436px;
    min-height: 3px;
    width: 1440px;
    z-index: 0;
    perspective-origin: 720px 218px;
    transform-origin: 720px 218px;
    background: rgb(27, 32, 32) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px/normal sofia_pro_bold, Helvetica, Arial;
}/*#HTML_1*/

#HEAD_2, #META_3, #TITLE_5, #META_7, #META_9, #LINK_11, #LINK_13, #SCRIPT_15 {
    box-sizing: border-box;
    font: normal normal normal normal 16px/normal sofia_pro_bold, Helvetica, Arial;
}/*#HEAD_2, #META_3, #TITLE_5, #META_7, #META_9, #LINK_11, #LINK_13, #SCRIPT_15*/

#META_4, #META_6, #LINK_10, #SCRIPT_14 {
    box-sizing: border-box;
    font: normal normal normal normal 16px/normal sofia_pro_bold, Helvetica, Arial;
}/*#META_4, #META_6, #LINK_10, #SCRIPT_14*/

#META_8, #LINK_12 {
    box-sizing: border-box;
    font: normal normal normal normal 16px/normal sofia_pro_bold, Helvetica, Arial;
}/*#META_8, #LINK_12*/

#STYLE_16 {
    box-sizing: border-box;
    font: normal normal normal normal 16px/normal sofia_pro_bold, Helvetica, Arial;
}/*#STYLE_16*/

#BODY_17 {
    box-sizing: border-box;
    height: 436px;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 1440px;
    perspective-origin: 720px 218px;
    transform-origin: 720px 218px;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
    margin: 0px;
    overflow: hidden;
}/*#BODY_17*/

#DIV_18 {
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: fixed;
    text-align: center;
    text-rendering: optimizelegibility;
    top: 0px;
    width: 100%;
    z-index: 10;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(27, 32, 32) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#DIV_18*/

#DIV_18:after {
    background-position: 50% 50%;
    box-sizing: border-box;
    display: block;
    height: 40px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-rendering: optimizelegibility;
    top: 50%;
    width: 40px;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    content: '';
    background: rgba(0, 0, 0, 0) url(http://www.mathiassterner.com/static/lib/img/preloader4.gif) no-repeat scroll 50% 50% / 100% padding-box border-box;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
    margin: -20px 0px 0px -20px;
}/*#DIV_18:after*/

#HEADER_19 {
    box-sizing: border-box;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 1440px;
    perspective-origin: 720px 0px;
    transform-origin: 720px 0px;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#HEADER_19*/

#BUTTON_20 {
    cursor: pointer;
    display: block;
    height: 34px;
    left: 60px;
    min-height: 0px;
    position: fixed;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    top: 218px;
    width: 36px;
    z-index: 3;
    perspective-origin: 18px 17px;
    transform-origin: 18px 17px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal bold normal 11px/normal Karla, Helvetica, Arial;
    margin: -17px 0px 0px -18px;
    padding: 10px 9px;
}/*#BUTTON_20*/

#BUTTON_20:after {
    bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 2px;
    position: absolute;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    width: 18px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 9px 1px;
    transform: matrix(0.707106781186548, -0.707106781186548, 0.707106781186548, 0.707106781186548, 0, 0);
    transform-origin: 0px 2px;
    content: '';
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal bold normal 11px/normal Karla, Helvetica, Arial;
    transition: all 0.2s linear 0s;
}/*#BUTTON_20:after*/

#BUTTON_20:before {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 2px;
    position: absolute;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    top: 10px;
    width: 18px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 9px 1px;
    transform: matrix(0.707106781186548, 0.707106781186548, -0.707106781186548, 0.707106781186548, 0, 0);
    transform-origin: 0px 0px;
    content: '';
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal bold normal 11px/normal Karla, Helvetica, Arial;
    transition: all 0.2s linear 0s;
}/*#BUTTON_20:before*/

#SPAN_21 {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 2px;
    opacity: 0;
    text-align: center;
    text-indent: -9999px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    width: 18px;
    z-index: 0;
    align-self: flex-start;
    perspective-origin: 9px 1px;
    transform-origin: 9px 1px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal bold normal 11px/normal Karla, Helvetica, Arial;
    overflow: hidden;
    transition: all 0.2s linear 0s;
}/*#SPAN_21*/

#DIV_22 {
    box-sizing: border-box;
    display: table;
    height: 460px;
    position: fixed;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 1440px;
    z-index: 2;
    perspective-origin: 720px 230px;
    transform-origin: 720px 230px;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#DIV_22*/

#NAV_23 {
    box-sizing: border-box;
    display: table-cell;
    height: 460px;
    text-align: center;
    text-rendering: optimizelegibility;
    vertical-align: middle;
    width: 1440px;
    perspective-origin: 720px 230px;
    transform-origin: 720px 230px;
    border: 20px solid rgb(255, 255, 255);
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#NAV_23*/

#UL_24 {
    box-sizing: border-box;
    height: 420px;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 933.34375px;
    perspective-origin: 466.671875px 210px;
    transform-origin: 466.671875px 210px;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
    list-style: none outside none;
    margin: 0px 0px 0px 466.65625px;
    padding: 0px;
}/*#UL_24*/

#LI_25, #LI_27, #LI_29, #LI_31, #LI_33 {
    box-sizing: border-box;
    height: 84px;
    text-rendering: optimizelegibility;
    width: 933.34375px;
    z-index: 0;
    perspective-origin: 466.671875px 42px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 466.671875px 42px;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
    list-style: none outside none;
}/*#LI_25, #LI_27, #LI_29, #LI_31, #LI_33*/

#A_26, #A_28, #A_32 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 60px/84px sofia_pro_bold, Helvetica, Arial;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10.0002002716064px;
    transition: border-bottom 0.15s linear 0s;
}/*#A_26, #A_28, #A_32*/

#A_26:after, #A_28:after, #A_32:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 10px;
    position: absolute;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    top: 210px;
    width: 0px;
    align-self: stretch;
    perspective-origin: 0px 5px;
    transform-origin: 0px 5px;
    content: '';
    background: rgb(132, 224, 184) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 60px/84px sofia_pro_bold, Helvetica, Arial;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: width 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#A_26:after, #A_28:after, #A_32:after*/

#A_30, #A_34 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: left;
    text-decoration: none;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 60px/84px sofia_pro_bold, Helvetica, Arial;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10.0002002716064px;
    transition: border-bottom 0.15s linear 0s;
}/*#A_30, #A_34*/

#A_30:after, #A_34:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 10px;
    position: absolute;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    top: 210px;
    width: 0px;
    align-self: stretch;
    perspective-origin: 0px 5px;
    transform-origin: 0px 5px;
    content: '';
    background: rgb(132, 224, 184) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 60px/84px sofia_pro_bold, Helvetica, Arial;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: width 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#A_30:after, #A_34:after*/

#DIV_35 {
    box-sizing: border-box;
    height: 436px;
    position: relative;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 1440px;
    perspective-origin: 720px 218px;
    transform-origin: 720px 218px;
    background: rgb(27, 32, 32) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 20px solid rgb(255, 255, 255);
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
    overflow: hidden;
    transition: border-width 0.45s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}/*#DIV_35*/

#ARTICLE_36 {
    background-position: 50% 50%;
    box-sizing: border-box;
    height: 396px;
    position: relative;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 1400px;
    perspective-origin: 700px 198px;
    transform-origin: 700px 198px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / auto padding-box border-box;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#ARTICLE_36*/

#SECTION_37 {
    background-position: 50% 50%;
    box-sizing: border-box;
    height: 396px;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 1400px;
    perspective-origin: 700px 198px;
    transform-origin: 700px 198px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#SECTION_37*/

#DIV_38 {
    background-position: 50% 50%;
    box-sizing: border-box;
    height: 396px;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 1400px;
    z-index: 0;
    perspective-origin: 700px 198px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 700px 198px;
    background: rgba(0, 0, 0, 0) url(https://farm4.staticflickr.com/3948/15614536375_f668cfa197_k.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#DIV_38*/

#H1_39 {
    background-position: 0px 0px;
    box-sizing: border-box;
    height: 130px;
    left: 700px;
    max-width: 70%;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-indent: -9999px;
    text-rendering: optimizelegibility;
    top: 198px;
    width: 450px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 225px 65px;
    transform-origin: 225px 65px;
    background: rgba(0, 0, 0, 0) url(http://www.mathiassterner.com/static/lib/img/logo.png) no-repeat scroll 0px 0px / 100% padding-box border-box;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
    margin: -65px 0px 0px -225px;
    overflow: hidden;
}/*#H1_39*/

#ARTICLE_40 {
    background-position: 50% 50%;
    box-sizing: border-box;
    height: 396px;
    position: relative;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 1400px;
    z-index: 0;
    perspective-origin: 700px 198px;
    transform: matrix(1, 0, 0, 1, 1400, 0);
    transform-origin: 700px 198px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / auto padding-box border-box;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#ARTICLE_40*/

#DIV_41 {
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    text-align: center;
    text-rendering: optimizelegibility;
    top: 0px;
    width: 100%;
    z-index: 99999;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(27, 32, 32) url(https://farm4.staticflickr.com/3948/15614536375_f668cfa197_k.jpg) repeat scroll 0% 0% / cover padding-box border-box;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#DIV_41*/

#DIV_42 {
    box-sizing: border-box;
    height: 200px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-rendering: optimizelegibility;
    top: 50%;
    width: 300px;
    align-self: stretch;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
    margin: -100px 0px 0px -150px;
    padding: 20px;
}/*#DIV_42*/

#P_43, #P_44 {
    box-sizing: border-box;
    clear: both;
    height: auto;
    text-align: center;
    text-rendering: optimizelegibility;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 20px/26px Karla, Helvetica, Arial;
    margin: 0px;
    padding: 0px 0px 20px;
}/*#P_43, #P_44*/

#A_45 {
    box-sizing: border-box;
    color: rgb(27, 32, 32);
    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-top: 0px none rgb(27, 32, 32);
    border-right: 0px none rgb(27, 32, 32);
    border-bottom: 2px solid rgb(27, 32, 32);
    border-left: 0px none rgb(27, 32, 32);
    font: normal normal normal normal 20px/26px Karla, Helvetica, Arial;
    outline: rgb(27, 32, 32) none 0px;
    transition: border-bottom 0.2s linear 0s;
}/*#A_45*/

#SCRIPT_46, #SCRIPT_47 {
    box-sizing: border-box;
    text-align: center;
    text-rendering: optimizelegibility;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#SCRIPT_46, #SCRIPT_47*/

#SCRIPT_48 {
    box-sizing: border-box;
    text-align: center;
    text-rendering: optimizelegibility;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#SCRIPT_48*/

#DIV_49 {
    box-sizing: border-box;
    cursor: col-resize;
    height: 436px;
    position: fixed;
    right: 0px;
    text-align: center;
    text-rendering: optimizelegibility;
    top: 0px;
    z-index: 2147483647;
    perspective-origin: 0px 218px;
    transform-origin: 0px 218px;
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#DIV_49*/

#A_50 {
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 43px;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
    width: 32.578125px;
    perspective-origin: 16.28125px 21.5px;
    transform-origin: 16.28125px 21.5px;
    border-top: 0px none rgb(204, 204, 204);
    border-right: 0px none rgb(204, 204, 204);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(204, 204, 204);
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
    outline: rgb(204, 204, 204) none 0px;
    padding: 10px;
    transition: border-bottom 0.15s linear 0s;
}/*#A_50*/

#I_51 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 17px;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 12.578125px;
    perspective-origin: 6.28125px 8.5px;
    transform-origin: 6.28125px 8.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal normal 16px/normal FontAwesome;
    outline: rgb(204, 204, 204) none 0px;
}/*#I_51*/

#I_51:before {
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 17px;
    speak: none;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 12.578125px;
    perspective-origin: 6.28125px 8.5px;
    transform-origin: 6.28125px 8.5px;
    content: '';
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal normal 16px/normal FontAwesome;
    outline: rgb(204, 204, 204) none 0px;
}/*#I_51:before*/

#BR_52 {
    box-sizing: border-box;
    cursor: col-resize;
    text-align: center;
    text-rendering: optimizelegibility;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#BR_52*/

#A_53 {
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 43px;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
    width: 36px;
    perspective-origin: 18px 21.5px;
    transform-origin: 18px 21.5px;
    border-top: 0px none rgb(204, 204, 204);
    border-right: 0px none rgb(204, 204, 204);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-left: 0px none rgb(204, 204, 204);
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
    outline: rgb(204, 204, 204) none 0px;
    padding: 10px;
    transition: border-bottom 0.15s linear 0s;
}/*#A_53*/

#I_54 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 17px;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 16px;
    perspective-origin: 8px 8.5px;
    transform-origin: 8px 8.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal normal 16px/normal FontAwesome;
    outline: rgb(204, 204, 204) none 0px;
}/*#I_54*/

#I_54:before {
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 17px;
    speak: none;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 16px;
    perspective-origin: 8px 8.5px;
    transform-origin: 8px 8.5px;
    content: '';
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal normal 16px/normal FontAwesome;
    outline: rgb(204, 204, 204) none 0px;
}/*#I_54:before*/

#FORM_55 {
    box-sizing: border-box;
    cursor: col-resize;
    text-align: center;
    text-rendering: optimizelegibility;
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
    margin: 0px;
}/*#FORM_55*/

#INPUT_56 {
    bottom: 0px;
    color: rgb(153, 153, 153);
    display: block;
    height: 30px;
    left: 36px;
    position: absolute;
    width: 16px;
    z-index: 1;
    align-self: stretch;
    perspective-origin: 8px 15px;
    transform-origin: 8px 15px;
    background: rgba(255, 255, 255, 0.901961) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 13px/normal '.HelveticaNeueDeskInterface-Regular';
    outline: rgb(153, 153, 153) none 0px;
    padding: 8px;
}/*#INPUT_56*/

#IFRAME_57 {
    background-position: 50% 50%;
    box-sizing: border-box;
    display: block;
    height: 436px;
    left: 36px;
    position: absolute;
    text-align: center;
    text-rendering: optimizelegibility;
    top: 0px;
    width: 0px;
    align-self: stretch;
    perspective-origin: 0px 218px;
    transform-origin: 0px 218px;
    background: rgb(255, 255, 255) none no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 16px/22px sofia_pro_bold, Helvetica, Arial;
}/*#IFRAME_57*/

