body {
	font-family: 'Karla', 'Georgia', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: black;
	margin: 50px;
	background-color: #FF9966;
}

h1 {
	font-family: 'Karla', 'Georgia', sans-serif;
	font-weight: 400;
	font-size: 2em;
	color: #FF9966;
	background: white;
	padding: 20px;
	text-align: center;
	text-transform: lowercase;
}

h2 {
	font-family: 'Karla', 'Georgia', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	color: #FF9966;
	background: white;
	padding: 20px;
	text-align: center;
	text-transform: lowercase;
}

strong {
	color: white;
}

img {
	max-width: 100%;
}

li {
	margin-bottom: 10px;
	margin-top: 10px;
}

a {
	font-family: 'Karla', 'Georgia', sans-serif;
	font-weight: 400;
	font-size: 1em;
	text-decoration: none;
	color: white;
	text-align: center;
}

a:hover {
	background: white;
	color: #FF9966;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.table-of-contents {
	text-align: center;
}

ol.simple-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    margin-left: 3em;
    padding: 0;
    counter-reset: li-counter;
}
ol.simple-list > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid white;
}
ol.simple-list > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
     
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: white;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}

ul:hover {
	background: white;
	color: #FF9966;
}


