h1 {
	font-family: 'Karla', 'Georgia', sans-serif;
	font-weight: 400
}

a {
	font-family: 'Karla', 'Georgia', sans-serif;
	font-weight: 400;
	text-decoration: none;
}

a:hover {
	background: yellow;
}

p {
	color: red;
	font-family: 'Times New Roman', 'Georgia', serif;
	font-weight: bold;
	font-size: 32px;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}
