
/* header styling */

h1 {
	font-size: 2em;
	font-family: 'Quattrocento', sans-serif;
	font-weight: 400;
	color: white; 
}

h2 {
	font-size: 4em;
	font-family: 'Quattrocento', sans-serif;
	font-weight: 400;
	color: white;
}

/* paragraph, list, link, bold styling */

p, ul, li {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 1em;
}

strong {
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
	text-transform: lowercase;
	font-size: 1em;
	color: #f2f2f2;
}

li {
	margin-bottom: 12px;
	margin-top: 12px;
}

/* body styling */

body {
  	background-color: #E0DEDE;
	margin: 0px;
	padding: 0px;
	color: #333333;
}

.howto {
	height: 5000px;
	margin: 0px;
	width: 100%;
}

/* ------------------------- links ------------------------- */

/* for text */
a {
	text-decoration: none;
  	color: #333333; 
	background-color: none;
}

a:hover {
	color: white;
	background-color: #FBB03B;
}

/* ------------------------- grid ------------------------- */

.grid-wrap {    
    overflow: hidden;
    clear: both;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}
   
.grid-col {
	display: inline-block;
    float: left;
	padding: 0% 0% 0% 0%;
	margin: 0% 0% 0% 0%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* classes to use to take up different %s of the screen */

.col100 {width: 100%; }
.col75 {width: 75%; }
.col66 {width: 66.666%; }
.col50 {width: 50%; }
.col33 {width: 33.333%; }
.col25 {width: 25%; }

.grid-box.center { /* this is what makes the text centered H & V */
	border: 0px solid black;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 1.5em;
    width: 10%; /* question for L, why does this need 10%? */
}

a.grid-box,
span.grid-box {
	border: 0px solid black;
	display: block;
	background: none;
	padding: 20px;
	height: 160px; /* sets the height of the cells in the grid */
}

a.grid-box:hover {
	background: #FBB03B; /* color of the background on hover */
	cursor: pointer;
	/* L's pulse animation */
	-webkit-animation: happy_pulse 1.2s ease-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes happy_pulse {
    0% { background: #FBB03B; }
    50% { background: #E0DEDE; }
    100% { background: #FBB03B; }
}

.grid-box .class,
.grid-expanded .class,
.grid-box .date,
.grid-expanded .date {
	display: block;
}

/* --------------------------------------------- needed? from L's site */

/*.grid-box.completed {
  border: 0px solid #BEC6C9;
  transition: .1s border ease-out;
  -webkit-transition: .1s border ease-out;
  -moz-transition: .1s border ease-out;
  -o-transition: .1s border ease-out;
}

.grid-box.completed:hover {
  background: none;
  border: 0px solid black;
  -webkit-animation: none;
}

.grid-wrap.single .grid-box.completed {
  border: 0px solid black;
}*/

/*.grid-box .projects {
  margin-top: 1em;
}

.grid-expanded {
  border: 0px solid black;
  padding: 16px;
  margin-bottom: 16px;
}

.grid-expanded .date {
  margin-bottom: 20px;
}*/

/* ------------------------- how to ------------------------- */

#introhowto,
#brainhowto, 
#testhowto, 
#finalhowto {
	width: 30%;
	text-align: left;
	padding-left: 35%;
	padding-top: 10px;
	padding-right: 35%;
	padding-bottom: 10px;
}

#introhowto, 
#testhowto {
	background-color: dimgray;
}

#brainhowto, 
#finalhowto {
	background-color: darkgrey;
}

/* collapsible menus */
.row { vertical-align: top; height:auto !important; padding-top: 0px;}
.list {display:none; }
.show {display: none; }
.hide:target + .show {display: inline; }
.hide:target {display: none; }
.hide:target ~ .list {display:inline; }
@media print { .hide, .show { display: none; } }
