h1 {
	font-family: 'Karla', 'Georgia', sans-serif;
	font-weight: 400;
	font-size: 2em;
}

a {
	font-family: 'Karla', 'Georgia', sans-serif;
	font-weight: 400;
	font-size: 1em;
	text-decoration: none;
	color: black;
}

a:hover {
	background: yellow;
}

p {
	color: red;
	font-family: 'Karla', 'Georgia', serif;
	font-weight: 400;
	font-size: 1em;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}
