/* style four */

body {
    background-color: rgb(255, 191, 0);
    padding: 50px;
}

h1 {
    font-size: 5em;
    font-family: "helvetica", sans-serif;
    color: white;
    margin-top: 100px;
}

div {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 80px;
}

p {
    font-size: 1.2em;
    font-family: "helvetica", sans-serif;
    color: white;
    margin-bottom: 10px;
}

header {
    text-align: center;
}

.container {
    width: 40%;
}