/* style three */

p {
    box-sizing: border-box;
    color: rgb(35, 28, 34);
    text-align: center;
    width: 968px;
    perspective-origin: 484px 124px;
    transform-origin: 484px 124px;
    border: 0px none rgb(35, 28, 34);
    font: normal normal bold normal 24.0000591278076px/31.2000770568848px Karla, Helvetica, Arial, sans-serif;
    margin: 0px 0px 24.0000591278076px;
    outline: rgb(35, 28, 34) none 0px;
}/*#P_32*/

#DIV_20 {
    box-sizing: border-box;
    color: rgb(35, 28, 34);
    text-align: left;
    width: 1440px;
    perspective-origin: 720px 3692.515625px;
    transform-origin: 720px 3692.515625px;
    border: 0px none rgb(35, 28, 34);
    font: normal normal bold normal 14px/18.2000007629395px Karla, Helvetica, Arial, sans-serif;
    outline: rgb(35, 28, 34) none 0px;
}/*#DIV_20*/

#SECTION_30 {
    box-sizing: border-box;
    color: rgb(35, 28, 34);
    height: 100%;
    text-align: left;
    width: 1440px;
    perspective-origin: 720px 207.5px;
    transform-origin: 720px 207.5px;
    background: rgb(255, 143, 121) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(35, 28, 34);
    font: normal normal bold normal 14px/18.2000007629395px Karla, Helvetica, Arial, sans-serif;
    outline: rgb(35, 28, 34) none 0px;
}/*#SECTION_30*/

#HEADER_21 {
    box-sizing: border-box;
    color: rgb(35, 28, 34);
    position: relative;
    text-align: center;
    width: 100%;
    border: 0px none rgb(35, 28, 34);
    font: normal normal bold normal 14px/18.2000007629395px Karla, Helvetica, Arial, sans-serif;
    outline: rgb(35, 28, 34) none 0px;
    padding: 168px 112px 140px;
}/*#HEADER_21*/

#HGROUP_25 {
    box-sizing: border-box;
    color: rgb(35, 28, 34);
    height: 417px;
    text-align: center;
    width: 1216px;
    perspective-origin: 608px 208.5px;
    transform-origin: 608px 208.5px;
    border: 0px none rgb(35, 28, 34);
    font: normal normal bold normal 14px/18.2000007629395px Karla, Helvetica, Arial, sans-serif;
    outline: rgb(35, 28, 34) none 0px;
}/*#HGROUP_25*/


#H1_26 {
    box-sizing: border-box;
    color: rgb(35, 28, 34);
    height: 330px;
    text-align: center;
    width: 1216px;
    perspective-origin: 608px 165px;
    transform-origin: 608px 165px;
    border: 0px none rgb(35, 28, 34);
    font: normal normal normal normal 128.000045776367px/110.000679016113px 'Noe Display Medium', serif;
    margin: 0px;
    outline: rgb(35, 28, 34) none 0px;
}/*#H1_26*/

#BR_27, #BR_28 {
    box-sizing: border-box;
    color: rgb(35, 28, 34);
    text-align: center;
    border: 0px none rgb(35, 28, 34);
    font: normal normal normal normal 128.000045776367px/110.000679016113px 'Noe Display Medium', serif;
    outline: rgb(35, 28, 34) none 0px;
}/*#BR_27, #BR_28*/

#H2_29 {
    box-sizing: border-box;
    color: rgb(35, 28, 34);
    height: 31px;
    text-align: center;
    width: 1216px;
    perspective-origin: 608px 15.5px;
    transform-origin: 608px 15.5px;
    border: 0px none rgb(35, 28, 34);
    font: normal normal bold normal 24.0000591278076px/31.2000770568848px Karla, Helvetica, Arial, sans-serif;
    margin: 56.000057220459px 0px 0px;
    outline: rgb(35, 28, 34) none 0px;
}/*#H2_29*/

#DIV_31 {
    box-sizing: border-box;
    color: rgb(35, 28, 34);
    height: 415px;
    max-width: 1080.00268554688px;
    text-align: center;
    width: 1080px;
    perspective-origin: 540px 207.5px;
    transform-origin: 540px 207.5px;
    border: 0px none rgb(35, 28, 34);
    font: normal normal bold normal 24.0000591278076px/31.2000770568848px Karla, Helvetica, Arial, sans-serif;
    margin: 0px 180px;
    outline: rgb(35, 28, 34) none 0px;
    padding: 56.000057220459px;
}/*#DIV_31*/


----------


