/* style eighteen */

h1 {
    font-family: 'Alegreya', serif;
    color: blue;
    font-size: 10em;
    font-weight: 400;
    font-variant: italic;
    margin: 0%;
    padding: 20px 0px 120px 0px;
}

h2 {
    font-family: 'Alegreya', serif;
    color: blue;
    font-size: 5em;
    font-weight: 400;
    font-variant: italic;
    margin: 0%;
    padding: 20px 0px 20px 0px;
}

article {
    margin-left: 20%;
    width: 40%;
    color: whitesmoke;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}

article:hover {
    opacity: 1;
    color: #333333;
}

header {
    width: 60%;
    margin-left: 20%;
    color: whitesmoke;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}

header:hover {
    opacity: 1;
    color: blue;
}

p, time {
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
    color: #333333;
    line-height: 28px;
}

img {
    padding: 40px 0px 40px 0px;
}